body{
    background-image: url('mecatro.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    color: blue;
}

nav{
    background-color: aquamarine;
}

